{{ if .Params.comments }}
<script src="https://giscus.app/client.js"
        data-repo="davekr1982/blog-discussions"
        data-repo-id="R_kgDOPEO68Q"
        data-category="comments"
        data-category-id="DIC_kwDOPEO68c4CsPdc"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
